a {
  text-decoration: none;
}

body {
  margin: 0;
}

.header-image {
  display:block;
  width:100%;
  height:350px;
  position:relative;
  z-index: 1;

}

.profile-pic {
  display: block;
  width: 120px;
  height:120px;
  position: absolute;
  z-index: 20;
  top: 42%;
  left: 15%;

}

.iron-yard {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
}

.mid-sec {
  box-sizing:border-box;
  display:block;
  padding-left: 50px;
  width: 50%;
  height: 200px;
  margin: 0 auto;
}

.body-title {
  font-size: 34px;
  font-family: arial;
  color: #484848;
  width: 80%;
}

.author-credit {
  color: #585858;

}

.body-img {
  width:85%;
  padding-top: 20px;
  padding-bottom: 30px;

}

.twitter-box {
  background-color: grey;
  display: block;
  height: 90px;
  width: 20%;
  border: 2px solid black;
  position: fixed;
  right: 0px;
  bottom: 30px;
}

.twitter-top {
  border-bottom: 1px solid black;
}

.never-post {
  padding-left: 10px;
  line-height: 35px;
  font-family: arial;
}

.x-close {
  height: 13px;
  width: 13px;
  float: right;
  padding-top: 10px;
  padding-right: 3px;

}

.twitter-tiy-icon {
  height: 40px;
  width: 40px;
  padding: 8px 8px 8px 8px;
  border-radius: 20%;
}

